{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load admin_list i18n %}

{% block content %}
 <p>Si è scelto di archiviare i seguenti siti:</p>
    <form action="" method="post">{% csrf_token %}
        <div>
            {% for obj in queryset %}
            <input type="checkbox" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" > {{ obj.old_url }} </input>
            {% endfor %}
            <br/>
            <input type="submit"  value="Comincia ad archiviare" />
        </div>
    </form>

{% endblock %}


